.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#welcoming {
  font-size: 25px;
  position: fixed;
  top: 30%;
  left: 10%;
  color: rgb(73, 81, 100);
}

#btnVisit {
  position: fixed;
  right: 75%;
  top: 45%;
  width: 150px;
  height: 50px;
  background-color: rgb(73, 81, 100);
  color: white;
}

#sideImg {
  position: fixed;
  background-color: #074455;
}

#sideImg img {
  position: fixed;
  top: 0.3%;
  bottom: 50%;
  left: 55%;
  height: 100%;
  width: 45%;
}

.contactform {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.contactform input {
  position: relative;
  padding: 5px;
  margin-bottom: 10px;
  /* left: 20%; */
}

.email {
  margin-left: 20px;
}

.pass {
  margin-left: 30px;
}

.contactform label {
  margin-right: 20px;
}

.Customertable {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

table,
th,
td {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}

#addCompForm {
  display: inline-block;
  margin-top: 15%;
  margin-left: 30%;
  /* padding: "20px 40px 15px 40px"; */
}
